{
    "trailingComma": "es5",
    "singleQuote": true,
    "arrowParens": "always",
    "printWidth": 200,
    "tabWidth": 4,
    "endOfLine": "lf",
    "semi": true,
    "htmlWhitespaceSensitivity": "ignore",
    "proseWrap": "never"
}
